@tailwind base;
@tailwind components;
@tailwind utilities;

.mainContainer {
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

